body{
    background-color: #E8E8E8;
    font-family: "Nunito", sans-serif;
}  

a{
    color: #BFBFBF ;
}

.weather-app{
    background-color: white;
    margin: 40px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 30px 50px #BFBFBF;
}



footer{
    font-size: 14px;
    color: #6C7A89;
    text-align: center;
}